@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "mainfont";
  src:
    url("../../public/fonts/IRANYekanMobileFN.ttf")
}
*{
  font-family: "mainfont";
}
.rmdp-prime .rmdp-day:not(.rmdp-day-hidden) span:hover {
  background-color: #c4e2ff !important;
  color: black;
}
.shadoww {
  -webkit-box-shadow: 0px 0px 4px 1px rgba(0, 93, 173, 0.32);
  -moz-box-shadow: 0px 0px 4px 1px rgba(0, 93, 173, 0.32);
  box-shadow: 0px 0px 4px 1px rgba(0, 93, 173, 0.32);
}
.rmdp-prime .rmdp-week-day {
  font-size: 16px;
  width: 96px;
  color: black;
}

.canvas-style canvas {
  all: initial;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  top: 50px;
  right: 50px;
  bottom: 50px;
  left: 50px;
}
.rmdp-prime .rmdp-day-picker div {
  width: 100%;
}
.rmdp-prime .rmdp-week {
  display: flex;
}
.rmdp-prime .rmdp-day {
  margin-right: 18px;
  margin-top: 40px;
}
.rmdp-prime .rmdp-day .sd {
  width: 67px;
  height: 58px;

  -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 93, 173, 0.32);
  -moz-box-shadow: 0px 0px 1px 1px rgba(0, 93, 173, 0.32);
  box-shadow: 0px 0px 1px 1px rgba(0, 93, 173, 0.32);
  background: white;
  border-radius: 10px;
  font-size: larger;
  color: black;
}

.rmdp-wrapper.rmdp-shadow.rmdp-prime {
  border-radius: 15px;
  padding-bottom: 10px;
}
.rmdp-prime .rmdp-calendar {
  width: 757px;
  min-height: 597px;
}

.rmdp-shadow {
  box-shadow: none;
}
.rmdp-prime .rmdp-header,
.rmdp-prime .rmdp-panel-header {
  background-color: #c4e2ff;
  border-radius: 10px;
  padding: 10px;
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 20px;
}

.App {
  text-align: center;
}
.PsychiatryBg {
  background-image: url("../../public/Pics/Psychiatry-background.png");
  background-size: cover;
}
.dintistBg {
  background-image: url("../../public/Pics/dentist-background.png");
  background-size: cover;
}
.customScroll::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 10px;
  background-color: rgba(217, 217, 217, 0.71);
}
.customScroll::-webkit-scrollbar-thumb {
  background-color: #005dad;
  height: 5px;
  border-radius: 10px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.scrollbar-drag {
  height: 100%;
  background-color: #005dad;
  border-radius: 10px;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
swiper-container {
  margin-top: 5px;
  width: 80%;
  height: 400px;
}

swiper-slide {
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
  align-items: center;
  background-color: rgb(80, 95, 229);
  border-radius: 30px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.cardBg {
  background-image: url("../../public/Pics/cardBg.png");
  background-size: 650px 500px;
  background-position: center;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
